<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087666399483-q09ng6d0g69ojfr7p6gpapigpbu3krua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087666399483-q09ng6d0g69ojfr7p6gpapigpbu3krua</string>
	<key>API_KEY</key>
	<string>AIzaSyCx3fHK4p6Whu2AbxKaPwn7TXJLEjiqq6c</string>
	<key>GCM_SENDER_ID</key>
	<string>1087666399483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaleo.chat.app</string>
	<key>PROJECT_ID</key>
	<string>geeks-926d4</string>
	<key>STORAGE_BUCKET</key>
	<string>geeks-926d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087666399483:ios:76bf08dd8620953c3f685e</string>
</dict>
</plist>